@import "tailwindcss";

/* برای جلوه درخشش دائمی روی دایره‌ها */
@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 0 0 10px rgba(59, 230, 255, 0.4), 0 0 20px rgba(236, 72, 153, 0.4);
  }
  50% {
    box-shadow: 0 0 15px rgba(59, 230, 255, 0.7), 0 0 30px rgba(236, 72, 153, 0.7);
  }
}

/* برای پس‌زمینه گرید در بخش Campaigns */
.bg-grid {
  background-color: #000000;
  background-image: 
    linear-gradient(to left, rgba(255, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  position: relative;
  box-shadow: 0 0 50px rgba(59, 230, 255, 0.05) inset;
}
